.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.app-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.header {
  background-color: #dcf0fa;
}

.main-header{
  text-align: center;
  color: black;
  background-color: #dcf0fa;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-weight: 800;
}

.sub-header{
  text-align: center;
  color: black;
  background-color: #dcf0fa;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  background-color: transparent;
  font-size: 30px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 10px;
}
.on {
  color: #f4f805;
}
.off {
  color: #ccc;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font: white;
  background-color: #282c34;
}

accordion.header {
  font: white;
  background-color: #282c34;
}
